* {
  margin: 0;
  padding: 0;
}

.container {
  /* text-align: center; */
  background: url('./assets/pool_table.png');
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  position: absolute;
  /* width: 570px;
  height: 308px;
  left: 40px;
  top: 24px; */
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;

  /* background: #ffffff; */
  mix-blend-mode: multiply;
  border: 3px solid rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  border-radius: 10px;
}

.container h1 {
  color: white;
}
